---
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";
import { render } from "astro:content";

interface Props {
  result: CollectionEntry<"results">;
}

const { result } = Astro.props;
const { data } = result;
const [{ Content }, { Content: ImageContent }] = await Promise.all([
  render(result),
  render(await getEntry(data.image)),
]);
---

<div class="bg-bg-subtle rounded-2xl border border-border p-4">
  <div class="flex items-center gap-2 [&>svg]:size-6">
    <ImageContent />
    <div class="font-bold text-text">{data.title}</div>
  </div>
  <div class="text-lg mt-4 [&_strong]:text-primary-contrast [&_code]:font-[monospace] [&_code]:bg-bg [&_code]:text-text [&_code]:px-1 leading-6">
    <Content />
  </div>
</div>
