---
import { render } from "astro:content";
import { getEntry } from "astro:content";
import { components } from "~/components/mdx";

interface Props {
  id: string;
  class?: string;
}

const { id, class: className } = Astro.props;

const entry = await getEntry("texts", id);
if (!entry) {
  throw new Error(`Can't find text for id "${id}"`);
}

const { Content } = await render(entry);
---

<div
  class:list={[
    "text-text-subtle [&_a]:font-medium [&_a]:text-text [&_a]:underline [&_ul]:list-disc [&_ul]:pl-5 [&_ul]:py-2 [&_li]:pl-1",
    className,
  ]}
>
  <Content {components} />
</div>
