---
import { getCollection } from "astro:content";
import Section from "~/components/Section";
import ProjectCard from "~/pages/_components/partials/ProjectCard.astro";

const experiences = (await getCollection("experiences"))
  .sort((a, b) => b.id.localeCompare(a.id))
  .slice(1);

const id = "work";
---

<Section {id}>
  <Section.Title {id}>Work</Section.Title>
  <div class="grid grid-cols-1 md:grid-cols-2 mt-4 gap-6">
    {
      experiences.map((project, i) => (
        <ProjectCard {project} loading={i <= 1 ? "eager" : "lazy"} />
      ))
    }
  </div>
</Section>
