---
import Section from "~/components/Section";
import Text from "~/pages/_components/partials/Text.astro";

const id = "more-projects";
---

<Section {id}>
  <Section.Title {id}>More projects</Section.Title>
  <Text id="more-projects" class="mt-4" />
</Section>
