---
import { getEntry, render } from "astro:content";
interface Props {
  id: string;
}

const { id } = Astro.props;

const tech = await getEntry("techs", id);
if (!tech) {
  throw new Error(`Can't find tech for id "${id}"`);
}
const { name, href } = tech.data;
const { Content } = await render(tech);
---

<a
  {href}
  target="_blank"
  class="bg-bg border rounded-full -my-1 align-middle border-border px-1 select-none inline-flex items-center tech-pill hover:underline hover:text-text transition-colors underline-offset-2"
>
  <span class="contents [&>svg]:size-3 [&>svg]:mr-1">
    <Content />
  </span>
  <span class="leading-5 text-xs font-semibold">{name}</span>
</a>
